<md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
    <div class="md-toolbar-tools site-toolbar-tools" tabindex="-1">
        <button class="md-icon-button mdi mdi-menu mdi-24px tc-light-primary md-button md-ink-ripple" hide-gt-sm type="button" ng-click="main.openMenu()" aria-label="Toggle Menu">
        </button>
        <div layout="row" flex class="fill-height">
            <h2 class="md-breadcrumb md-headline md-toolbar-item">
                <span ncy-breadcrumb-last></span>
            </h2>
            <span flex></span>
        </div>
    </div>

</md-toolbar>
